@font-face {
  font-family: 'GoogleFontNM'; /* Choose a name for the font */
  src: url('/src/assets/fonts/NanumMyeongjo-Regular.ttf') format('truetype'),
       url('/src/assets/fonts/NanumMyeongjo-Bold.ttf') format('truetype'),
       url('/src/assets/fonts/NanumMyeongjo-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleFontMurecho'; /* Choose a name for the font */
  src: url('/src/assets/fonts/Murecho-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'GoogleFontLora';
  src: url('/src/assets/fonts/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700; /* Variable range */
}

body {
font-family: 'GoogleFontLora';
}

.login-container{
  display: grid;
  row-gap: 20px;
  margin-top: 15vh;
}

.login-container h1{
  text-align: center;
  font-size: xxx-large;
  color: #03020f;
  font-size: 60px;
  
}

.login-box {
justify-self: center;
align-items: center; 
background: #f2f2ff;
padding: 20px;
border-radius: 10px;
box-shadow: 7px 6px 20px 1px #f2f2ff;
text-align: center;
width: 350px;

}

.login-box * {
border: none;
}

form{
  display: grid;
  width: 300px;
  row-gap: 20px;
}

.inputs {
  border-color: #e7e8e8;
  border-style: solid;
  border-radius: 7px;
  padding: 12px;
  font-size: large;
}

.btn-success{
  background-color: #7D3EAF;
}