@font-face {
  font-family: 'GoogleFontNM'; /* Choose a name for the font */
  src: url('/src/assets/fonts/NanumMyeongjo-Regular.ttf') format('truetype'),
       url('/src/assets/fonts/NanumMyeongjo-Bold.ttf') format('truetype'),
       url('/src/assets/fonts/NanumMyeongjo-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleFontMurecho'; /* Choose a name for the font */
  src: url('/src/assets/fonts/Murecho-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'GoogleFontLora';
  src: url('/src/assets/fonts/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700; /* Variable range */
}

body {
font-family: 'GoogleFontLora';
}

.login-container{
  display: grid;
  row-gap: 20px;
  margin-top: 15vh;
}

.login-container h1{
  text-align: center;
  font-size: xxx-large;
  color: #03020f;
  font-size: 60px;
  
}

.login-box {
justify-self: center;
align-items: center; 
background: #f2f2ff;
padding: 20px;
border-radius: 10px;
box-shadow: 7px 6px 20px 1px #f2f2ff;
text-align: center;
width: 350px;

}

.login-box * {
border: none;
}

form{
  display: grid;
  width: 300px;
  row-gap: 20px;
}

.inputs {
  border-color: #e7e8e8;
  border-style: solid;
  border-radius: 7px;
  padding: 12px;
  font-size: large;
}

.btn-success{
  background-color: #7D3EAF;
}

/*------Styles for NavBar Component-----------*/

.navbar{
  background-color: #684551;
}

.container-fluid ul *{
  flex-grow: 1;
  color: white;
}

/*------Styles for MenuCard Component-----------*/

.card{
  background-color: #EFE7E9;
  color: #03020f;
  

}

.card-body{
  display: flex;
  column-gap: 15px;
}

/*------Styles for SideBar Component-----------*/

.sidebar-container{
  background-color: #E7DADF;
  width: 300px;
  padding: 20px;
}

/*------Styles for Dashboard Page-----------*/

.dashboard-main{
  background-color: #EFE7E9;
  display: flex;
  column-gap: 50px;
}

/*------Styles for Booking Form-----------*/

.booking-form{
  width: 50rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}

input, select, textarea {
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
