body {
  background-color: #FFFAFA !important;
}

.bg-image-half {
  background-image: url("assets/wave1.png");
  background-size: contain; /* or cover */
  background-position: bottom; /* Ensures proper positioning */
  background-repeat: no-repeat; /* Prevent tiling */
  height: 100vh;

}

.navbar {
  background-color: #EBEBDC;

}

.login-box {
    display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 50vh; /* Full height */
  background: rgb(201, 189, 189);
  padding: 5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}