body {
  background-color: #FFFAFA !important;
}

.login-box {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 50vh; /* Full height */
  background: rgb(201, 189, 189);
  padding: 5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

.form{
    display: grid;
    margin: 50px;   
    padding: 50px;

}