@font-face {
    font-family: 'GoogleFontNM'; /* Choose a name for the font */
    src: url('assets/fonts/NanumMyeongjo-Regular.ttf') format('truetype'),
         url('assets/fonts/NanumMyeongjo-Bold.ttf') format('truetype'),
         url('assets/fonts/NanumMyeongjo-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #FFFAFA !important;
  font-family: 'MyCustomFont', sans-serif;
}

.login-container{
  display: grid;
  align-items: center; 
  height: 50vh;
  justify-content: center;
  margin: 15rem;
}

.login-container h1{
margin-bottom: 40px;
font-weight: bold;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: #f5dad25b;
  padding: 5rem;
  margin-left: 5rem;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(224, 199, 225, 0.1);
  text-align: center;
  width: 350px;
  gap: 2rem;
  
}

.login-box * {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border-color: #FFFAFA;
  box-shadow: 5px 10px 18px rgba(51, 26, 53, 0.1);
  border: none;
}

.btn-success{
    background-color: #75A47F;
}