@font-face {
    font-family: 'GoogleFontNM'; /* Choose a name for the font */
    src: url('../assets/fonts/NanumMyeongjo-Regular.ttf') format('truetype'),
         url('../assets/fonts/NanumMyeongjo-Bold.ttf') format('truetype'),
         url('../assets/fonts/NanumMyeongjo-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'MyCustomFont', sans-serif ;
  color: rgba(0, 0, 0, 0.788);
}

.main-container{
    display: grid;
    row-gap: 20px;
    margin-top: 15vh;
    
}

.main-container h1{
    font-weight: bold;
    text-align: center;    
}

.form {
    display: flex;
    justify-self: center;
    background: #a187b033;
    padding: 35px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(224, 199, 225, 0.1);
    width: 550px;
    font-size: 12pt;  
  }

.form .row{
    row-gap: 20px;   
}

.button {
    text-align: center;
}

.btn {
    padding: 15px;
    font-weight: bold;
    font-size: larger;
    background-color: #7d3eaf;
    border: 0px;
    width: 15rem;
}
