@font-face {
    font-family: 'GoogleFontNM'; /* Choose a name for the font */
    src: url('../assets/fonts/NanumMyeongjo-Regular.ttf') format('truetype'),
         url('../assets/fonts/NanumMyeongjo-Bold.ttf') format('truetype'),
         url('../assets/fonts/NanumMyeongjo-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'MyCustomFont', sans-serif;
  color: rgba(0, 0, 0, 0.788);
}

.login-container{
    display: grid;
    row-gap: 20px;
    margin-top: 15vh;
}

.login-container h1{
    font-weight: bold;
    text-align: center;
    
}

.login-box {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: #a187b033;
  padding: 4rem;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(224, 199, 225, 0.1);
  text-align: center;
  width: 350px;
  gap: 2rem;
  
}

.login-box * {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border-color: #FFFAFA;
  box-shadow: 5px 10px 18px rgba(51, 26, 53, 0.1);
  border: none;
}

.btn-success{
    background-color: #7d3eaf;
}





